<div class="container">
    {{#if products}}
        <h2>Products</h2>
        {{#each products}}
            <div class="item">
                <img id="image{{this.id}}" src="{{this.image}}" height="100px" width="100px"
                    onerror="applyPlaceholder({{this.id}});">
                <a href="/product/{{this.id}}">
                    <h4>{{ this.name }}</h4>
                </a>
                {{#if this.description}}
                <i>{{this.description}}</i>
                {{/if}}
                <p>$ {{this.price}}</p>
            </div>
        {{/each}}
    {{else}}
        <p>There are no products at this moment.</p>
    {{/if}}
</div>

<script src="/scripts/view-products.js"></script>